@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

:root {
    --primary-color: #151414;
    --secondary-color: #F15B22;
    --white-dark-color: #737272;
    --white-color: #fff;
}

/* nested btn */
.primary-btn {
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: var(--white-color);
    border: none;
    padding: 14px 26px;
    font-weight: 600;
}

.secondary-btn {
    width: 160px;
    height: 64px;
    background-color: var(--white-color);
    border-radius: 5px;
    color: var(--secondary-color);

}

/*  */
.d-flex {
    display: flex;

}

.m-t-b {
    margin: 100px 0;
}

/* container */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* css start */
/* main-header */
.main-header {
    background-image: url(images/banner/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.header-content {
    width: 400px;
    margin: 150px 0 0 0;
}

.header-details {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.header-content h1 {
    font-weight: 700;
    font-size: 38px;
}

.header-content p {
    font-size: 14px;
}

/* header section end */

.about-container {
    max-width: 900px;
    margin: 0 auto;
}

.about-main-div.d-flex {
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.left-img img {
    max-width: 100%;
}

.right-content {
    width: 400px;
}

.about-list li {
    list-style: none;
    display: block;
    font-size: 14px;
    line-height: 26px;
    margin-left: -38px;
}

.right-content h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-color);
}

.right-content p {
    font-size: 14px;
    color: var(--white-dark-color);
}

/* icon */
i.fa-solid.fa-check {
    color: green;
    padding: 0 12px 0 0;
}

/* planing-section */
.plan {
    text-align: center;
    margin-bottom: 45px;
    font-size: 40px;
}

.programming-skills{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.programming-skills .skill img {
    width: 71px;
    height: 68px;
}